body {
  background:#002C54;
  font-family:"Comfortaa", serif;
}

.pagina {
	width:50%;
	margin: 0 auto;
}

.header {
	height:5%;
	width:100%;
	background:#003b6f;
	padding: 0px 5px 2px 5px;
	margin: 0 auto;
	border: 2px solid black;
}
.header h1 {
	display:inline;
}
.header h2 {
	display:inline;
}
.header a:link {
	color:#000000;
	text-decoration:none;
}
.header a:visited {
	color:#000000;
}
.header a:hover {
	color:#A9A9A9;
}


.calculadora {
    width:215px;
    position:relative;
    margin:0 auto;
    top:50px;
    border: 3px #000000 solid;
    border-radius: 5px;
    background-color: #000000;
}

.display {
    width:210px;
    height:50px;
    background:#5a5b5c;
    color:#ffffff;
    border: 2px solid #000;
    font-size: 10px;
}

.botoes{
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    align-items: flex-start;
}

button {
    font-size: 50px;
    width: 50px;
    height:65px;
    float: left;
    margin:2px;
}

.zero {
    font-size: 50px;
    width:104px;
}

.igual {
    height:134px;
    position: absolute;
    top: 260px;
    left: 162px;
}

.texto {
    float:right;
    padding-right:4px;
}